<label>Server name</label>
<input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">

<label>User name</label>
<input
    type="text"
    class="form-control"
    (input)="onUpdateUserName($event)">
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer || userNameEmpty"
    (click)="onCreateServer()">Add servers</button>
    <!--<p [innerText]="allowNewServer"></p>-->
<p>Server: {{ serverName }} User: {{ userName }}</p>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>